$tablet-min-width: 768px;
$desktop-min-width: 1200px;

$mobile-card-width: 320px;
$desktop-card-width: 400px;

$main-color: #bbb;
$card-text-color: #232323;
$page-bc: #424242;
$header-bc: #212121;
$card-bc: #8E8E8E;

$window-color: #fff;
$cancel-button-bc: #6aa84f;
$cancel-button-bc-hover: #619b49;
$delete-button-bc: #f44336;
$delete-button-bc-hover: #df3e32;